body {
    margin: 0%;
    padding: 0%;
}

#map { 
    height: 98vh;
    width: 98vw;
}

.vcs {
    position: fixed;
    top: 84%;
    left: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: 150px;
    height: 50px;
    border: 1px solid black;
}

.vcs img {
    width: 64px;
    height: 49px;
}

.marker {
    transition: 1ms;
}